<div class="medium-12 columns new_container">
	<%= form_for @post, html: {id: :edit_post_form, :class => "medium-offset-4 medium-4 columns"} do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name, :class => "input_field" %>
		<%= f.label :address %>
		<%= f.text_field :address, :class => "input_field" %>
		<%= f.label :website %>
		<%= f.text_field :website, :class => "input_field" %>
		<%= f.label :favorite_dish %>
		<%= f.text_field :favorite_dish, :class => "input_field" %>
		<%= f.label :message %>
		<%= f.text_field :message, :class => "input_field" %>
		<a href="https://tmnyc.herokuapp.com/posts">Cancel</a>
	    <%= f.submit "Save changes" %>
	<% end %>
</div>

<!--<div class="medium-12 columns">
	<%= button_to "Delete post", @post, form_class: "medium-offset-5 medium-2 columns", method: :delete, id: "delete_button" %>
</div>-->

<div class="medium-12 columns">
	<a class="medium-offset-5 medium-3 columns" href="https://tmnyc.herokuapp.com/posts/<%= @post.id %>">Click here to delete this post</a>
</div>